<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>404-pqzm</title>
    <link rel="stylesheet" href="style.css" />
    <style>
        /* 美化404页面 */
        .error-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f4f4f4;
            color: #333;
            text-align: center;
            padding: 20px;
        }

        .error-container h1 {
            font-size: 100px;
            margin: 0;
            color: #699CF0;
        }

        .error-container p {
            font-size: 20px;
            margin: 20px 0;
        }

        .error-container hr {
            width: 50%;
            border: 1px solid #699CF0;
            margin: 20px 0;
        }

        .error-container a button {
            padding: 10px 20px;
            font-size: 18px;
            color: white;
            border-radius: 5px;
            background-color: #699CF0;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .error-container a button:hover {
            background-color: #87CEFA;
        }
    </style>
</head>

<body>
    <div class="error-container">
        <h1>404</h1>
        <hr>
        <p>未找到当前网页，请确认网址正确或检查网络环境</p>
        <a href="http://jike2504.piqizhimen.com"><button>
                <h3>点此回到主页</h3>
            </button></a>
    </div>
</body>

</html>