<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>错误</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="content">
    <h2>错误</h2>
    <p>
      <%= message %>
    </p>
    <a href="/">返回主页</a>
  </div>
</body>

</html>