@import url('全局变量与重置.css');
@import url('页面固定模块.css');
@import url('通用组件.css');

/* ==========================================================================
   响应式设计
   ========================================================================== */

@media (max-width: 768px) {
    .navigation {
        background-color: var(--main-color);
        color: white;
        position: absolute;
        width: 100%;
    }

    .top {
        display: block;
        height: auto;
    }

  .top-left {
      width: 100%;
      min-width: 100px;
      max-width: 400px;
      height: auto;
  }

    .header {
        padding: 15px;
        text-align: center;
        align-items: center;
        transition: padding 0.3s ease;
    }

  .header h1 {
    font-size: 1.8rem;
  }

  .nav-link {
    padding: 8px 12px;
    font-size: 0.8rem;
  }

  .content {
    padding: 150px 5px 40px;
  }

  .page{
      padding: 80px 0 0 0;
  }

    .page.visible {
        transform: translateY(60px);
    }

  h2 {
    font-size: 1.4rem;
  }

  table {
    font-size: 0.9rem;
  }

  th,
  td {
    padding: 8px 10px;
  }

  .message-container {
    padding: 1.5rem;
  }

  .form-actions {
    flex-direction: column;
    gap: 0.8rem;
  }

  .submit-btn,
  .reset-btn {
    margin: 0;
    width: 100%;
  }

  .reset-btn.resetting {
    transform: rotate(360deg);
    transition: transform 0.5s ease;
  }

  .table-container::before {
    display: block;
    text-align: center;
    color: #bbb;
    margin-bottom: 0.3rem;
  }
  .table-container p{
      font-size: 0.65rem;
  }
}